<div class="row justify-content-center">
  <h3 class="p-3 mb-2 bg-warning text-dark"><%= @post.user.user_name %>のレビュー一覧</h3>
  <%# admin/reviews_controllerのindexでbinding.pryをしたときに@postで調べた。 %>
  <%# するとuser_idも取得できていたことがわかった。 %>
  <%# なので、@postに紐づいたuser.user_nameが取れる。このときアソシエーションができているか注意！ %>
</div>

<div class="row justify-content-center">
  <table class='table-dark table-bordered table-hover' width="40%" height="40">
    <thead>
      <tr>
        <th>レビューユーザー名</th>
        <th>レビュータイトル</th>
        <th>星の数</th>
      </tr>
    </thead>
    <% @reviews.each do |review| %>
    <tbody>
      <tr>
        <td><%= review.user.user_name %></td>
        <td>
            <%= link_to review.review_title, admin_post_review_path(@post.id, review.id) %></td>
                                                                   <%#どのpostのidと、reviewのidをとるかこの時rails routesでpost_idとなっていても%>
                                                                   <%#.idとしないといけない、単にidをとるだけだと.idで取らないといけない%>
        <td><%= review.rate %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>