<h3><%= @tag.tag_name %>のタグがついた投稿一覧</h3>

<table class='table-bordered'>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>投稿名</th>
    </tr>
  </thead>
  <% @posts.each do |post| %>
  <tbody>
    <tr>
      <td><%= post.user.user_name %></td>
      <td><%= link_to post.shop_name, post_path(post.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>