<h3>TOPページ</h3>

<p>このサイトは全国の島道府県のラーメン屋のレビューサイトです！<br />

おすすめの店をみんなに紹介し、どんなおすすめポイントがあるのかを共有していきましょう！<br />

どんなラーメンでも大歓迎！</p>

<%= link_to '仮ユーザー一覧', users_path %>

<h3>閲覧数ランキング一覧</h3>

<table class='table-bordered'>
  <thead>
    <tr>
      <th>順位</th>
      <th>ユーザー名</th>
      <th>PV数</th>
    </tr>
  </thead>
  <tbody>
    <% @post_ranks.each.with_index(1) do |post, i| %>
    <tr>
      <td>第<%= i %>位</td>
      <td><%= post.user.user_name %></td>
      <td><%= post.impressionist_count %></td>
    </tr>
    <% end %>
  </tbody>
</table>