<div class="container">

  <div class="row">

    <div class="col">
      <h3 class="p-3 mb-2 bg-warning text-dark">麺s</h3>
      <div class="p-3 mb-2 bg-warning text-dark">~美味しいラーメン情報集積所~</div>
      <div class="p-3 mb-2 bg-warning text-dark">このサイトは全国の都道府県のラーメン屋のレビューサイトです！<br />
      おすすめの店をみんなに紹介し、どんなおすすめポイントがあるのかを共有していきましょう！<br />
      どんなラーメンでも大歓迎！</div>
      <% if user_signed_in? %>
        <p class="p-3 mb-2 bg-warning text-dark">signed_in</p>
      <% elsif admin_signed_in? %>
        <p class="p-3 mb-2 bg-warning text-dark">signed_in</p>
      <% else %>
        <%= link_to homes_guest_sign_in_path, method: :post, class:'mavbar_brand' do %>
        <button type="button" class="btn btn-warning rounded-circle">ゲストログイン（閲覧用）</button><% end %>
      <% end %>
    </div>
    
    <%#ランキング機能は追加予定%>
    <!--<div class="col">-->
    <!--  <h3 class="p-3 mb-2 bg-warning text-dark">投稿PV数ランキング一覧</h3>-->
    <!--  <table class='table-dark table-bordered table-hover' width="90%" height="300">-->
    <!--    <thead>-->
    <!--      <tr>-->
    <!--        <th>順位</th>-->
    <!--        <th>ユーザー名</th>-->
    <!--        <th>店名</th>-->
    <!--        <th>PV数</th>-->
    <!--      </tr>-->
    <!--    </thead>-->
    <!--    <tbody>-->
    <!--      <%# @post_ranks.each.with_index(1) do |post, i| %>-->
    <!--      <tr>-->
    <!--        <td>第<%#= i %>位</td>-->
    <!--        <td><%#= link_to post.user.user_name, user_path(post.user.id) %></td>-->
    <!--        <td><%#= post.shop_name %></td>-->
    <!--        <td><%#= post.impressionist_count %></td>-->
    <!--      </tr>-->
    <!--      <%# end %>-->
    <!--    </tbody>-->
    <!--  </table>-->
    <!--</div>-->
  </div>
  
  <div class="row justify-content-center">
    <h3 class="p-3 mb-2 bg-warning text-dark">すべてのタグ</h3>
  </div>

  <div class="row justify-content-center">
    <% @tag_lists.each do |tag| %>
      <div class="p-3 mb-2 bg-dark text-white">
        <%= link_to tag.tag_name, tags_path(id: tag.id), class:"btn-outline-warning" %>
        <%= "(#{tag.posts.count})"%>
        <%# タグが何件登録されたかのカウント %>
      </div>
    <% end %>
  </div>

</div>