<h3>TOPページ</h3>

<p>このサイトは全国の島道府県のラーメン屋のレビューサイトです！<br />

おすすめの店をみんなに紹介し、どんなおすすめポイントがあるのかを共有していきましょう！<br />

どんなラーメンでも大歓迎！</p>

<%= link_to '仮ユーザー一覧', users_path %>

<h3>閲覧数ランキング一覧</h3>

<table>
  <thead>
    <tr>
      <th>順位</th>
      <th>ユーザー名</th>
      <th>レビューPV数</th>
    </tr>
  </thead>
  <tbody>
    <%  %>
    <tr>
      <td><%= %></td>
      <td><%= @review.post.user.user_name %></td>
      <td><%= @post.impressionist_count %></td>
    </tr>
  </tbody>
</table>