<h3><%= @user.last_name %><%= @user.first_name %></h3>

<% if user.user_image attached? %>
<%# もし user.use_image がつけられていたら？ %>
<%= image_tag user.user_image, size: "50×50" %>
<%# image_tag => 画像を表示するメソッド、 user.user_image => userテーブルのuser_imageメソッドから画像を引っ張る、 size: "50×50" =>画像の大きさを決定 %>
<% else %>
<%# そうでなければ %>
<%= image_tag 'men_image.jpeg', size: "50×50" %>
<%# app/assets/image下にあるmen_image.jpegを表示 %>
<% end %>


